.wrapper {
  display: grid;
  grid-template-columns: 300px 1fr;
  .title {
    color: var(--primary);
    padding: 48px 72px;
  }
  .account {
    max-height: calc(100vh - 117px);

    .buttons {
      padding: 48px 72px;
      display: flex;
      gap: 20px;
      button {
        font-size: 20px;
        border: none;
        border-bottom: 4px solid var(--modal-bgG);
        background: none;
        padding-bottom: 15px;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.05em;
        padding: 10px;
        color: var(--modal-bgG);
        transition: 0.2s ease-in-out;
        &:hover {
          border-bottom: 4px solid var(--primary);
          color: var(--primary);
        }
      }
      .activeBtn {
        border-bottom: 4px solid var(--primary);
        color: var(--primary);
      }
    }
    .inputs {
      padding: 0px 72px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      .label {
        font-weight: 500;
        font-size: 22px;
        line-height: 27px;
        color: var(--primary);
        text-transform: capitalize;
      }
      .content {
        padding: 20px;
        border: 1px solid var(--link-text);
        border-radius: 10px;
        color: var(--text);
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        height: 20px;
      }
    }
  }
}

@media (max-width: 1023px) {
  .wrapper {
    display: block;
  }
  .order {
    width: 100%;
  }
}
