.wrapper {
  display: inline-block;
  padding: .8rem 2rem;
  background-color: var(--primary);
  color: var(--white);
  border-radius: 5px;
  transition: 0.1s linear;
  border: 1px solid var(--primary);
  cursor: pointer;
  &:hover {
    position: relative;
    animation-name: example;
    animation-duration: 0.3s;

    background-color: var(--secondary);
    color: var(--primary);
  }
}

@keyframes example {
  0% {
    transform: rotate(2deg);
  }
  50% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
