.hero {
  position: relative;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10vh;
  

  background: url("../../assets/images/heroBG2.png");
  background-position: center;
  background-size: contain;
  .tilt {
    position: absolute;
    z-index: 99;
    img {
      @media (max-width: 420px) {
        width: 80px;
      }
    }
  }

  .circle-graph {
    position: relative;
    top: -61px;
    left: -61px;
    z-index: 10;
    width: 40rem;
    height: 40rem;
    margin: calc(100px / 2 + 0px);
    @media (max-height: 700px) {
      width: 30rem;
      height: 30rem;
    }
  }
  .adminBtn {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
