.hero {
  height: 100vh;
  background: url("../../assets/images/ibrat-club-bg.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  .info {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 700px;

    .title {
      font-family: "Okta Neue";
      font-style: normal;
      font-weight: 400;
      font-size: 80px;
      line-height: 125px;
      display: flex;
      align-items: center;

      color: var(--secondary);
    }

    .paragraph {
      font-family: "Gordita";
      font-style: normal;
      max-width: 541px;
      font-weight: 400;
      font-size: 29px;
      line-height: 31px;
      display: flex;
      align-items: center;

      color: var(--white);
      margin: 24px 0 40px;
    }

    .btn {
      width: max-content;
      background: #fbfbfd;
      border-radius: 4px;
      font-family: "Gordita";
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 19px;
      display: flex;
      align-items: center;

      color: var(--black);
      padding: 15px 40px;
      border: none;
    }
  }
}
