.about {
  background: url("../../assets/images/about-eventBg.png");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.wrapper {
  margin: auto;
  display: block;
  width: 100%;
  min-height: 100vh;
  display: grid;
  place-content: center;

  .hiddenNavbar {
    height: 75.65px;
  }

  .container {
    margin-top: 30px;
    padding: 29px 30px;
    width: 689px;
    background: #f9f9f9;
    border: 1px solid #dddddd;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    @media (max-width: 780px) {
      width: auto;
      margin: 40px;
    }
    @media (max-width: 480px) {
      width: auto;
      margin: 20px;
    }
    .titleContainer {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      svg {
        cursor: pointer;
      }
    }
    .title {
      text-transform: capitalize;
      font-style: normal;
      font-weight: 400;
      font-size: 35px;
      line-height: 55px;
      color: #3548d4;
      margin-bottom: 40px;
    }

    .subtitle {
      font-family: "Gordita";
      font-style: normal;
      font-weight: 500;
      font-size: 22px;
      line-height: 24px;
      color: #3548d4;
      @media (max-width: 480px) {
        font-size: 20px;
      }
    }

    .description {
      font-family: "Gordita";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 19px;
      display: flex;
      align-items: center;
      letter-spacing: 0.05em;
      color: #5a5a5a;
      @media (max-width: 480px) {
        font-size: 16px;
      }
    }

    .map {
      margin: 30px 0;
      border: 1px solid #3548d4;
      border-radius: 4px;
      border: none;
      width: 100%;
    }
  }

  .success {
    background: #4fb91d;
    border-radius: 4px;
    font-family: "Gordita";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 19px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 23px;
    margin-bottom: 26px;

    color: #ffffff;
  }
}
