.wrapper {
  padding: 35px 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ececff;
  border-radius: 10px;
  cursor: pointer;
  .info {
    .logo-wrapper {
      display: flex;
      gap: 10px;
      align-items: center;
      margin-bottom: 21px;
      .logo {
        width: 45px;
        height: 45px;
      }
      .title {
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        color: var(--primary);
      }

      .second-map {
        display: none;
        border: 3px solid var(--primary);
        border-radius: 21px;
        overflow: hidden;
        width: 110px;
        height: 110px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      @media (max-width: 1086px) {
        .second-map {
          display: block;
          margin-left: auto;
        }
      }
    }

    .location {
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;

      display: flex;
      align-items: center;
      gap: 5px;
      margin-bottom: 15px;
      color: var(--link-text);
    }

    .company-types {
      table {
        gap: 20px;
        tr {
          th {
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #464359;
            padding: 0 30px 0 0;
            text-align: start;
          }
          td {
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            color: var(--primary);
            padding: 23px 80px 0 0;
            text-align: start;
          }
        }
      }
    }
  }
  .map {
    border: 3px solid var(--primary);
    border-radius: 21px;
    overflow: hidden;
    width: 110px;
    height: 110px;
    img {
      width: 100%;
      height: 100%;
    }
    @media (max-width: 1086px) {
      display: none;
    }
  }
}
@media (max-width: 1023px) {
  .wrapper {
    display: block;
  }
  .order {
    width: 100%;
  }
}
