.wrapper {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  .title {
    @media (max-width: 460px) {
      font-size: 30px;
    }
  }
  h1 {
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: 49px;
    line-height: 49px;
    text-align: center;
    color: var(--primary);
    margin-bottom: 1rem;
  }
  button {
    color: var(--primary) !important;
  }
  :global {
    .MuiTabs-flexContainer .css-heg063-MuiTabs-flexContainer {
      overflow: scroll !important;
    }

    .MuiTabs-flexContainer {
      overflow-y: scroll;
    }
    .MuiTabs-indicator {
      background-color: var(--primary);
    }
    ::-webkit-scrollbar {
      width: 0;
      height: 0;
    }

    //fasfada

    .MuiTab-root {
      color: var(--red) !important;
      background: var(--secondary) !important;
      border-radius: 5px 5px 0px 0px !important;
      border-bottom: 2px solid var(--primary) !important;
      padding: 12px 16px 10px !important;
      font-weight: 600 !important;
      font-size: 16px !important;
      line-height: 16px !important;

      text-align: center !important;

      color: var(--link-text) !important;
      white-space: initial !important;
      &:first-child {
        margin-left: 20px !important;
      }
      &:last-child {
        margin-right: 20px !important;
      }
    }
    .MuiTabs-indicator {
      background-color: transparent !important;
    }

    .Mui-selected {
      font-weight: 600 !important;
      font-size: 16px !important;
      line-height: 16px !important;
      text-align: center !important;
      color: var(--primary) !important;
      border: 2px solid var(--primary) !important;
      border-bottom: 0px !important;
      background: var(--white) !important;
      padding: 12px 16px 10px !important;

      &::after {
        content: "" !important;
        position: absolute !important;
        bottom: -1px !important;
        height: 3px !important;
        background-color: var(--white) !important;
        width: 100% !important;
      }
    }

    .MuiTabs-flexContainer {
      gap: 15px;
    }

    .MuiTabs-flexContainer {
      overflow-y: scroll !important;
    }
    .MuiTabs-indicator {
      background-color: var(--primary);
    }
    ::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }

  .line {
    background-color: var(--primary);
    z-index: -10;
    height: 2px;
    position: absolute;
    bottom: 0px;
    width: 100%;
  }
}
