.wrapper {
  position: relative;
}

.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 49px;
  text-align: center;

  color: var(--primary);
  text-align: center;
}

:global {
  .xmark {
    position: absolute;
    right: 0;
    top: 10px;
    height: 24px;
    cursor: pointer;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 300px;

  .submit-btn {
    padding: 12px 42px;
    background: var(--primary);
    border-radius: 5px;
    font-size: 21px;
    line-height: 21px;
    text-align: center;
    border: none;
    color: var(--white);
    @media (max-width: 460px) {
      width: 100%;
    }
    &:hover {
      animation-name: example;
      animation-duration: 0.3s;
      border: 1px solid var(--primary);
      background-color: var(--secondary);
      color: var(--primary);
    }
    &:active {
      background: var(--primary);
    }
  }
}
.or {
  text-align: center;
}
.box {
  display: flex;
  align-items: center;
  border: 1px solid var(--link-text);
  border-radius: 15px;
  font-weight: 300;
  font-size: 23px;
  line-height: 23px;
  width: 100%;
  overflow: hidden;

  color: var(--link-text);
  p {
    padding: 0 10px 0 15px;
    user-select: none;
  }
}

.input {
  border: 1px solid var(--link-text);
  border-radius: 15px;
  font-weight: 300;
  font-size: 23px;
  line-height: 23px;
  width: 95.5%;

  color: var(--link-text);
  padding: 18px 0 18px 18px;
}

.phone {
  outline: none;
  border: none !important;
  border-left: 1px solid var(--link-text) !important;
  font-weight: 300;
  font-size: 23px;
  line-height: 23px;
  width: 95.5%;

  color: var(--link-text);
  padding: 18px 0 18px 5px;
}

.error {
  margin-top: -10px;
  color: var(--red);
  i {
    color: var(--red);
  }
}
