@import "./theme.scss";

@import "./typography.scss";

@font-face {
  font-family: GraublauWeb;
  src: url("../fonts/OktaNeue-Black.ttf") format("ttf");
}

* {
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

:root {
  @include theme-light;
}

section {
  max-width: 1440px;
  margin: auto;
  display: block;
  padding: 1rem 10rem;
  @media (max-width: 1200px) {
    padding: 1rem 6rem;
  }
  @media (max-width: 940px) {
    padding: 1rem 2rem;
  }
}
