.wrapper {
  display: grid;
  grid-template-columns: 300px 1fr;

  @media (max-width: 1023px) {
    display: block;
  }
}

.company {
  height: calc(100vh - 117px);
  width: calc(100vw - 300px);
  @media (max-width: 1023px) {
    width: 100%;
    height: calc(100vh - 129px);
  }
  .title {
    margin: 48px 0 0 72px;
    font-weight: 600;
    font-size: 29px;
    line-height: 35px;

    color: var(--primary);
  }

  .companies {
    padding: 47px 60px 0;
    display: flex;
    flex-direction: column;
    gap: 47px;
    height: calc(100vh - 215px);

    overflow: scroll;
  }
}
