.wrapper {
  background: url("../../../assets/images/Admin-background.svg");
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  justify-content: flex-end;
  align-items: center;

  .login {
    padding: 50px;
    margin-right: 100px;
  }

  .logo {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 57px;
    line-height: 69px;
    text-align: center;

    color: var(--primary);
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 26px;

    .submit-btn {
      padding: 12px 42px;
      background: var(--primary);
      border-radius: 5px;
      font-size: 21px;
      line-height: 21px;
      text-align: center;
      border: none;
      color: var(--white);
    }
  }

  .input {
    border: 1px solid var(--link-text);
    border-radius: 15px;
    font-weight: 300;
    font-size: 23px;
    line-height: 23px;
    width: 367px;

    color: var(--link-text);
    padding: 18px 0 18px 18px;
  }
  .error {
    margin-top: -20px;
    color: var(--red);
    i {
      color: var(--red);
    }
  }
}
